* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --primary-color: hsla(240, 6%, 21%, 1);
  --card-text-selected: hsla(0, 0%, 100%, 1);

  --bg-cards: rgba(208, 198, 180, 0.5);
  --bg-cards-selected: hsla(194, 97%, 31%, 0.5);
  --bg-body: hsla(0, 0%, 100%, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color);
  background-color: var(--bg-body);
  background-image: url('src/images/forest.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  transition: background-image 1s ease-in;
  padding: 30rem 55rem;
}

main {
  width: 82rem;
  height: 37.6rem;

  display: flex;
  justify-content: space-between;

  background: var(--bg-cards);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 2.4rem;

  padding: 2rem;
}

main section.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

main section.timer p {
  font-weight: 500;
  font-size: 12.6rem;
  line-height: 13.68rem;

  text-align: center;

  color: var(--primary-color);

  width: 100%;
}

main section.timer section.controls {
  display: flex;
  justify-content: space-evenly;
  gap: 4rem;
  width: 100%;
}

main section.timer section.controls button {
  background: none;
  border: none;
}

main section.sounds {
  display: grid;
  grid-template-areas:
    'A B '
    'C D';
  gap: 3.2rem;
}

main section.sounds button {
  border: none;

  width: 13.8rem;
  height: 15.2rem;

  background: var(--bg-cards);
  /* background: rgba(0, 0, 0, 0.6); dark mode */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 2.4rem;
}

main section.sounds:nth-child(1) {
  grid-area: A;
}

main section.sounds:nth-child(2) {
  grid-area: B;
}

main section.sounds:nth-child(3) {
  grid-area: C;
}

main section.sounds:nth-child(4) {
  grid-area: D;
}

button {
  cursor: pointer;
}

main section.controls button svg path {
  fill: var(--primary-color);  
}

main section.sounds button svg path  {
  fill: var(--primary-color);
}

main section.sounds button.selected svg path {
  fill: var(--card-text-selected)
}

main section.sounds button.fireplace.selected {
  background: rgba(173, 64, 18, 0.777);
}

main section.sounds button.rain.selected {
  background: rgba(2, 122, 158, 0.5);
}

main section.sounds button.forest.selected {
  background: rgba(19, 197, 135, 0.5);
}

main section.sounds button.coffeeShop.selected {
  background: rgba(94, 60, 13, 0.731);
}
