:root {
  font-size: 62.5%;

  --primary-color: hsla(240, 6%, 21%, 1);
  --card-text-selected: hsla(0, 0%, 100%, 1);

  --bg-cards: rgba(208, 198, 180, 0.2);
  --bg-main: hsla(0, 0%, 100%, 0.1);
  --bg-cards-selected: hsla(194, 97%, 31%, 0.5);
  --bg-body: hsla(0, 0%, 100%, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;

  background-color: var(--bg-body);
  background-image: url('../src/images/lightmode/lightmode.jpg');
  transition: background-image 1s ease-in;

  width: 100vw;
  height: 100vh;
}

.themeContainer {
  width: 100%;
  height: 5rem;
  position: relative;
}

.themeContainer button {
  position: absolute;
  right: 4rem;
  top: 2rem;

  background: none;
  border: none;
}

.page {
  width: 100%;
  height: 94%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main {
  width: 82rem;
  height: 37.6rem;

  padding: 2rem;

  display: flex;
  justify-content: space-between;

  background-color: var(--bg-main);
  transition: background-color 1s ease-in;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 0.1rem inset;
  border-radius: 2.4rem;
}

main section#timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

main section#timer p {
  font-weight: 500;
  font-size: 12.6rem;
  line-height: 13.68rem;

  text-align: center;

  color: var(--primary-color);

  width: 100%;

  animation: pulse 1s infinite;
}

main section#timer p,
p span {
  color: var(--primary-color);
  transition: color 1s ease-in;
}

main section#restTimer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
}

main section#restTimer p {
  font-weight: 500;
  font-size: 12.6rem;
  line-height: 13.68rem;

  text-align: center;

  color: var(--primary-color);

  width: 100%;
}
main section#timer section.controls {
  display: flex;
  justify-content: space-evenly;
  gap: 4rem;
  width: 100%;
}

main section#timer section.controls button {
  background: none;
  border: none;
}

main section.sounds {
  display: grid;
  grid-template-areas:
    'A B '
    'C D';
  gap: 3.2rem;
}

main section.sounds div {
  width: 13.8rem;
  height: 15.2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;

  background: var(--bg-cards);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 2.4rem;
}

main section.sounds:nth-child(1) {
  grid-area: A;
}

main section.sounds:nth-child(2) {
  grid-area: B;
}

main section.sounds:nth-child(3) {
  grid-area: C;
}

main section.sounds:nth-child(4) {
  grid-area: D;
}

section.sounds div {
  cursor: pointer;
}

main section.controls div svg path,
main section.sounds div svg path {
  fill: var(--primary-color);
  transition: fill 1s ease-in;
}

main section.sounds div.selected svg path {
  fill: var(--card-text-selected);
}

main section.sounds div.fireplace.selected {
  background: rgba(173, 64, 18, 0.7);
}

main section.sounds div.rain.selected {
  background: rgba(1, 190, 248, 0.7);
}

main section.sounds div.forest.selected {
  background: rgba(19, 197, 135, 0.7);
}

main section.sounds div.coffeeShop.selected {
  background: rgba(94, 60, 13, 0.7);
}

label {
  display: none;
}
input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background-color: rgba(0, 0, 0, 0.2);

  cursor: pointer;
  width: 9.2rem;
  height: 0.5rem;

  border-radius: 1rem;

  opacity: 0;

  transition: all 1s ease-in;
}

input[type='range']::-webkit-slider-runnable-track {
  background-color: rgba(0, 0, 0, 0.5);
  height: 0.5rem;
  border-radius: 1rem;

  opacity: 0;

  transition: all 1s ease-in;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: #323239;

  height: 1.2rem;
  width: 1.2rem;
  margin-top: -0.35rem;
  border-radius: 1rem;

  opacity: 0;

  transition: all 1s ease-in;
}

main section.sounds div.fireplace.selected input[type='range'],
main section.sounds div.rain.selected input[type='range'],
main section.sounds div.forest.selected input[type='range'],
main section.sounds div.coffeeShop.selected input[type='range'] {
  background-color: rgba(255, 255, 255);
  opacity: 1;
  transition: all 1s ease-in;
}

main
  section.sounds
  div.fireplace.selected
  input[type='range']::-webkit-slider-runnable-track,
main
  section.sounds
  div.rain.selected
  input[type='range']::-webkit-slider-runnable-track,
main
  section.sounds
  div.forest.selected
  input[type='range']::-webkit-slider-runnable-track,
main
  section.sounds
  div.coffeeShop.selected
  input[type='range']::-webkit-slider-runnable-track {
  background-color: rgba(255, 255, 255);
  opacity: 1;

  transition: all 1s ease-in;
}

main
  section.sounds
  div.fireplace.selected
  input[type='range']::-webkit-slider-thumb,
main section.sounds div.rain.selected input[type='range']::-webkit-slider-thumb,
main
  section.sounds
  div.forest.selected
  input[type='range']::-webkit-slider-thumb,
main
  section.sounds
  div.coffeeShop.selected
  input[type='range']::-webkit-slider-thumb {
  background-color: rgba(255, 255, 255);
  opacity: 1;

  transition: all 1s ease-in;
}

::-webkit-scrollbar {
  display: none;
}
